header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 10px solid red; */
    padding-left: 100px;
    background-color: #1f2937;
    color: white;
    font-size: 36px;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    padding-right: 40px;
    font-size: 18px;
    font-weight: 200;

}

.content-wrapper-one {
    /* border: 10px dotted blue; */
}

.top-wrapper {
    /* border: 10px solid yellowgreen; */
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-right {
    /* border: 5px dotted wheat; */
}

.top-left {
    /* border: 5px dotted rgb(218, 144, 180); */
}

.pool-icon {
    width: 450px;
    height: 350px;
}

.upper-middle-wrapper {
    /* border: 10px solid rgb(46, 172, 160); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon-container {
    /* border: 10px solid tomato; */
    display: flex;
    align-items: center;
    height: auto;
    /* width: 45%; */
}

.icon-pouch {
    /* border: 10px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pool {
    width: 100px;
    height: 100px;
}

.icon {
    border: 3px solid #3882f6;
    border-radius: 25px;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 20px;
}

.lower-middle-wrapper {
    /* border: 10px solid firebrick; */
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-middle-quote {
    display: flex;
    flex-direction: column;
    inline-size: 800px;
    margin: 40px;
}

.bottom-wrapper {
    /* border: 10px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.alert-banner {
    display: flex;
    background-color: #3882f6;
    border: 10px solid #3882f6;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: auto;
    width: 60%;
}

.banner-left {
    /* border: 10px solid yellow; */
    display: flex;
    flex-direction: column;
    color: white;
}

.banner-right {
    /* border: 10px solid pink; */
    display: flex;
    color: white;
}

#bottom-alert{
    background-color: #3882f6;
    color: white;
    border: 3px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#bottom-alert:hover {
    background-color: tomato;
    color: white;
}

#top-alert{
    background-color: #3882f6;
    color: white;
    border: 3px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#top-alert:hover {
    background-color: tomato;
    color: white;
}

#text-body{

    font-size: 36px;

}

#quote-attribution{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    padding-right: 160px;
}

footer {
    /* border: 10px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
  
}